.test {
  width: 2.66666667 rem;
  height: 200px;
  color: skyblue;
}
html {
  font-size: 20px;
}
/* 注意对照生产的css文件理解 */
.father {
  color: red;
  /* 加,减,乘直接书写表达式 */
  width: 150px;
  height: 160px;
  /* 除法需要添加小括号或者. */
  width: 1.81333333rem;
}
.father .son {
  background-color: pink;
}
.father .son:hover {
  color: green;
}
.father:hover {
  color: orange;
}
.box {
  color: #e64226;
  background-color: #e64226;
}
