.navbar-default {
  background-color: transparent;
  border: 0;
  padding: 10px 0;
}
.navbar-default .navbar-brand img {
  width: 200px;
  height: 39px;
  margin-top: 5px;
}
.carousel .item {
  height: 500px;
  background-size: cover;
  background-position: 50%;
  transform: translate(-50%, -50%);
}
.carousel .item img {
  height: 100% !important;
}
.carousel .item:nth-child(1) {
  background-image: url(../images/banner_0.jpg);
}
.carousel .item:nth-child(2) {
  background-image: url(../images/banner_1.jpg);
}
.carousel .item:nth-child(3) {
  background-image: url(../images/banner_2.jpg);
}
.carousel .item:nth-child(4) {
  background-image: url(../images/banner_tweb2019.png);
}
@media (max-width: 992px) {
  .carousel .item {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .carousel .item {
    height: 250px;
  }
}
.project {
  text-align: center;
  padding-top: 30px;
}
.project .container div a {
  display: block;
  height: 200px;
  background-color: #70c3ff;
}
